{% extends "layout.html" %}

{% block content %}


<div class="jumbotron">
  <h1 class="display-4">Justin Hagerty</h1>
  <p class="lead">Send me an email:</p>
  <hr class="my-4">

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Name:</label>
    <select class="form-control" id="exampleFormControlSelect1">
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Subject</label>
    <select class="form-control" id="exampleFormControlSelect2">
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <div class="form-group">
		<button type="submit" class="btn btn-primary mb-2">Submit</button>
  </div>
</form>
</div>

{% endblock %}