<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hagerty.dev</title>
    <link rel="stylesheet" type="text/css" href="../static/css/site.css" />
	
	<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
	<!-- some dumb notes: 
	font-family: 'Dosis', sans-serif;
	-->
	<link href="https://fonts.googleapis.com/css?family=Armata|Righteous&display=swap" rel="stylesheet">
	<!-- some dumb notes: 
	font-family: 'Righteous', cursive;
	font-family: 'Armata', sans-serif;
	-->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</head>

<body>
<!--
<div class="navbar nabar-light bg-light">
	<a class="navbar-brand">Hagerty.dev</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
				<div class="collapse navbar-collapse id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class ="nav-item"><a  class="nav-link"href="https://hagerty.dev/discord">Discord</a></li>
						<li class ="nav-item"><a class="nav-link" href="https://github.com/wheelsmanx">Github</a></li>
						<li class ="nav-item"><a class="nav-link" href="#">LinkedIn</a></li>
						<li class ="nav-item"><a class="nav-link" href="#">Email</a></li>
					</ul>
				</div>

	</div>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light" id="my_colorScheme">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
	   <li class="nav-item">
        <a class="nav-link" id="my_font_white" href="https://hagerty.dev/test">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="my_font_white" href="../discord">Discord</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" id="my_font_white" href="../github">Github</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" id="my_font_white" href="#">LinkedIn</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" id="my_font_white" href="./test/contactMe">Contact Me</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" id="my_font_white" href="./test/slackBots">Slack Bots</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="my_button_hover" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container" id="my_font">
{% block content %}{% endblock %}
</div>

</body>
</html>
