{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Justin Hagerty</h1>
  <p class="lead">Software Engineer/Developer</p>
  <hr class="my-4">
  <p>Development information and architecture for specific projects as well as a portfolio for these specific projects. I have done a multitude projects that have lead me to have a skil
  set that ranges from multiple languages and deployment methods. Development projects in relation to mainframe(z/OS), python, flask, php, laravel, C++, BOOST SDK, Linux, Docker, IIS, ASP.NET and javascript.  </p>
	<BR> 
	I will add specific examples of these with a small analysis about the goals in relation to those projects as I recognize that not every project will be "production ready" but that these goals would be defined before the start of that project. 
	</p><BR>
	<hr class="my-4">

	<div class="container">
		<div class="row">
			<div class="col-md-4">
			<p>
			{% for item in data %}
			{{item|safe}} <BR>
			{% endfor %}
			</p>

			</div>
			<div class="col-md-4">
			<p>
			{% for item in data %}
			{{item|safe}} <BR>
			{% endfor %}
			</p>

			</div>
		</div>
	</div>

</div>

{% endblock %} 