#my_colorScheme{
background-color:#5f5f5f!important;
}

#my_font_white {
font-family: 'Armata', sans-serif;
color:white;
}
#my_font_black {
font-family: 'Armata', sans-serif;
color:black;
}

#my_button_hover:hover {
font-family: 'Armata', sans-serif;
color:black;
background-color: #a6a6a6!important;
}
#my_button_hover {
font-family: 'Armata', sans-serif;
color:black;
border-color:black;
}

